In [1]:
import pandas as pd

In [77]:
import numpy as np

In [102]:
clus_0 = pd.read_csv('../data/processed_data/cluster_0_final_result.csv', encoding='cp949')
clus_1 = pd.read_csv('../data/processed_data/cluster_1_final_result.csv', encoding='cp949')
clus_2 = pd.read_csv('../data/processed_data/cluster_2_final_result.csv', encoding='cp949')
clus_3 = pd.read_csv('../data/processed_data/cluster_3_final_result.csv', encoding='cp949')
clus_4 = pd.read_csv('../data/processed_data/cluster_4_final_result.csv', encoding='cp949')
clus_unknown = pd.read_csv('../data/processed_data/cluster_3_unknown_final_result.csv', encoding='cp949')

In [103]:
final_df = pd.read_excel('../data/test_data/2021 빅콘테스트_데이터분석분야_퓨처스리그_ECO제주_평가데이터_210806_update.xlsx')

In [104]:
final_df

    NO  행정동명  7월 배출량(g)  8월 배출량(g)
0    1   한림읍        NaN        NaN
1    2   애월읍        NaN        NaN
2    3   구좌읍        NaN        NaN
3    4   조천읍        NaN        NaN
4    5   한경면        NaN        NaN
5    6  일도1동        NaN        NaN
6    7  일도2동        NaN        NaN
7    8  이도1동        NaN        NaN
8    9  이도2동        NaN        NaN
9   10  삼도1동        NaN        NaN
10  11  삼도2동        NaN        NaN
11  12  용담1동        NaN        NaN
12  13  용담2동        NaN        NaN
13  14   건입동        NaN        NaN
14  15   화북동        NaN        NaN
15  16   삼양동        NaN        NaN
16  17   봉개동        NaN        NaN
17  18   아라동        NaN        NaN
18  19   오라동        NaN        NaN
19  20    연동        NaN        NaN
20  21   노형동        NaN        NaN
21  22   외도동        NaN        NaN
22  23   이호동        NaN        NaN
23  24   도두동        NaN        NaN
24  25   대정읍        NaN        NaN
25  26   남원읍        NaN        NaN
26  27   성산읍        NaN        NaN
27  28   안덕면        NaN        NaN
28  29   표선면        NaN        NaN
29  30   송산동        NaN        NaN
30  31   정방동        NaN        NaN
31  32   중앙동        NaN        NaN
32  33   천지동        NaN        NaN
33  34   효돈동        NaN        NaN
34  35   영천동        NaN        NaN
35  36   동홍동        NaN        NaN
36  37   서홍동        NaN        NaN
37  38   대륜동        NaN        NaN
38  39   대천동        NaN        NaN
39  40   중문동        NaN        NaN
40  41   예래동        NaN        NaN
41  42  알수없음        NaN        NaN

In [105]:
sum(clus_0['7_8월예측값'] < 0)

0

In [106]:
sum(clus_1['7_8월예측값'] < 0)

0

In [107]:
sum(clus_2['7_8월예측값'] < 0)

0

In [108]:
idx3 = clus_3[clus_3['7_8월예측값'] < 0].index

clus_3.loc[idx3, '7_8월예측값'] = 0 
clus_3[clus_3['7_8월예측값'] < 0]

Empty DataFrame
Columns: [읍면동, 7_8월예측값]
Index: []

In [109]:
sum(clus_3['7_8월예측값'] < 0)

0

In [110]:
sum(clus_4['7_8월예측값'] < 0)

8

In [111]:
idx4 = clus_4[clus_4['7_8월예측값'] < 0].index

clus_4.loc[idx4, '7_8월예측값'] = 0 
clus_4[clus_4['7_8월예측값'] < 0]

Empty DataFrame
Columns: [읍면동, 7_8월예측값]
Index: []

In [112]:
sum(clus_4['7_8월예측값'] < 0)

0

In [115]:
idx5 = clus_unknown[clus_unknown['7_8월예측값'] < 0].index

clus_unknown.loc[idx5, '7_8월예측값'] = 0 
clus_unknown[clus_unknown['7_8월예측값'] < 0]

Empty DataFrame
Columns: [읍면동, 7_8월예측값]
Index: []

In [116]:
sum(clus_unknown['7_8월예측값'] < 0)

0

In [65]:
idx = 31 * clus_0.읍면동.nunique()

clus_0_7 = clus_0.loc[:idx].groupby('읍면동')['7_8월예측값'].agg([('7월 배출량','sum')])
clus_0_8 = clus_0.loc[idx:].groupby('읍면동')['7_8월예측값'].agg([('8월 배출량','sum')])

In [66]:
idx = 31 * clus_1.읍면동.nunique()

clus_1_7 = clus_1.loc[:idx].groupby('읍면동')['7_8월예측값'].agg([('7월 배출량','sum')])
clus_1_8 = clus_1.loc[idx:].groupby('읍면동')['7_8월예측값'].agg([('8월 배출량','sum')])

In [67]:
idx = 31 * clus_2.읍면동.nunique()

clus_2_7 = clus_2.loc[:idx].groupby('읍면동')['7_8월예측값'].agg([('7월 배출량','sum')])
clus_2_8 = clus_2.loc[idx:].groupby('읍면동')['7_8월예측값'].agg([('8월 배출량','sum')])

In [68]:
idx = 31 * clus_3.읍면동.nunique()

clus_3_7 = clus_3.loc[:idx].groupby('읍면동')['7_8월예측값'].agg([('7월 배출량','sum')])
clus_3_8 = clus_3.loc[idx:].groupby('읍면동')['7_8월예측값'].agg([('8월 배출량','sum')])

In [69]:
idx = 31 * clus_4.읍면동.nunique()

clus_4_7 = clus_4.loc[:idx].groupby('읍면동')['7_8월예측값'].agg([('7월 배출량','sum')])
clus_4_8 = clus_4.loc[idx:].groupby('읍면동')['7_8월예측값'].agg([('8월 배출량','sum')])

In [117]:
idx = 31 * clus_unknown.읍면동.nunique()

clus_unknown_7 = clus_unknown.loc[:idx].groupby('읍면동')['7_8월예측값'].agg([('7월 배출량','sum')])
clus_unknown_8 = clus_unknown.loc[idx:].groupby('읍면동')['7_8월예측값'].agg([('8월 배출량','sum')])

In [118]:
total_7 = pd.concat([clus_0_7,clus_1_7,clus_2_7,clus_3_7,clus_4_7, clus_unknown_7],axis=0)

In [119]:
total_8 = pd.concat([clus_0_8,clus_1_8,clus_2_8,clus_3_8,clus_4_8, clus_unknown_8],axis=0)

In [120]:
total_result = np.round(pd.merge(total_7, total_8, on='읍면동'),1)

In [121]:
tt = final_df.행정동명.tolist()

In [122]:
total_result.head()

         7월 배출량     8월 배출량
읍면동
대륜동   1739883.8  1634287.3
동홍동   3419955.2  3526072.8
삼도2동  1493084.2  1338860.7
서홍동   1324994.7  1286082.4
성산읍   1663992.2  1621382.7

In [124]:
total_result = total_result.reindex(tt).reset_index()

In [126]:
total_result.to_csv('../최종예측결과.csv', encoding='cp949', index=False)